/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {
    --achtergrond: #ff816f;
    --tabblad: #ffd500;
}

/* === your rules === */

body {
    background-color: var(--achtergrond);
    padding-top: 4rem;
    padding-left: 3rem;
}

h2 {
    background-color: white;
    max-width: 25rem;
    font-family: arial;
    font-size: 2rem;
    padding: 1.2rem 1.7rem;
    box-shadow: -0.4rem 0.4rem 0,
    0.4rem 0.4rem 0rem;
}

h1, h2 {
    border: 0.25rem solid black;
}

h1 {
    background-color: var(--tabblad);
    max-width: 15vh;
    font-size: 1.5vh;
    padding: 0.3rem;
    font-weight: normal;
    border-bottom: 0;
    box-shadow: -0.4rem 0.7rem 0rem black;
}